*{
 margin: 0;
 padding: 0;  
 box-sizing: border-box; 
}  

header{
    background-color: #FFFFFF;
    
}

.logo{
    width: 139px;
    height: 60px;
    
}

nav{
    width:1600px;
    height:92px;
    padding: 16px 120px 16px 120px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

nav .navbar{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 50px;
}

nav .navbar a{
      font-family: "Inter", sans-serif;
      font-size: 16px;
      color:#000000;
      font-weight: 500;
      gap:34px;
      text-decoration: none;
      align-items: center;
      

}

button{
    background-color: #30B868;
    border:none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
    cursor: pointer;
}

