*{
 font-family: "Inter", sans-serif;
 margin: 0;
 padding: 0;  
 box-sizing: border-box; 
}  

header{
    background-color: #FFFFFF;
    
}

.logo{
    width: 139px;
    height: 60px;
    
}

nav{
    width:1600px;
    height:92px;
    padding: 16px 120px 16px 120px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 50px;
}

nav .menu a{
      font-size: 16px;
      color:#000000;
      font-weight: 500;
      gap:34px;
      text-decoration: none;
      align-items: center;
      

}

button{
    background-color: #30B868;
    border:none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
    cursor: pointer;
}

 #banner{
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
    padding: 99px 120px 163px 120px; 
   
} 

 #banner .banner-content{
            max-width: 1360px;
            text-align: center;
             
            
}
               
 #banner h1{
    font-size: 72px;
    font-weight: bold;
    color:#FFFFFF;
    text-align: center;
    

}

 span{
    color:#30B868;
}

#banner p{
    font-size: 18px;
    color: #FFFFFF;
} 

input{
    border-radius: 10px;
    
}

button .btn{
    background-color:#FFFFFF;
}

#section{
    width:1600px;
    height:448px;
    text-align: center;
}
#section h1{
    font-size: 48px;
    font-weight: bold;
}

#section p{
    font-size: 16px;
}


#section .cards{
    width: 300px;
    height: 250px;
    color:whitesmoke;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px  5px;
    flex-wrap: wrap;
    padding: 24px;
    gap:16px;
    
    
    
}

#section .cards:hover{
           background-color: antiquewhite;
}
#section .cards .card-icon{
                border-radius: 50%;
    background-color:#F95555;

}

#section .cards .cards-container h3{
                font-size: 24px;
                font-weight: 600;
                color:#000000;
            
}

#section .cards .cards-container p{
                  font-size: 16px;
                  color:#627382;
}
   
#second-brain-section{
             width: 1366px;
             margin: 0 auto;
             display: flex;
             align-items: center;
             justify-content: space-between;
                    
}

#second-brain-section .frame-image{
                       width: 600px;
                       height: 600px;
                       padding-left: 85px;
}
 
#second-brain-section .frame-container h6{
                        font-size: 16px;
                        font-weight: 500;
                        color:#30B868
                        
}

#second-brain-section .frame-container h1{
                          font-size: 48px;
                          font-weight: bold;
                          color: #001931;
}

#second-brain-section .frame-container p{
                       font-size: 14px;
                       color:#627382;
                       
}

#second-brain-section .frame-container ul{
                       list-style: none;
}

#Early-access-section{
             width: 1200px;
             margin:0 auto;
             background-color:#F7F6F2;
             display: flex;
             flex-direction: column;
             text-align: center;
             align-items: center;
             margin-top: 100px;
             border-radius: 10px;
             padding:60px 20px;
             
             
             
}

#Early-access-section .Early-access-section-container h1{
           margin-bottom: 10px;
}

#Early-access-section .Early-access-section-container h1{
            font-size: 48px;
            font-weight: bold;
}

#Early-access-section .Early-access-section-container p{
            font-size: 16px;
            color:#627382;
}
